<header class="header">
		<div class="inner header__inner">
			<h1 class="header__logo">フィードバックチャンネル</h1>
		</div>
 </header>
 
<div class="main-edit">
  <div class="inner-edit">
    <div class="form__wrapper">
      <h2 class="page-heading-edit">プロトタイプ編集</h2>
      <%= render partial: "form"%>
    </div>
  </div>
</div>